body{
    background-color: #b8deeb;
    text-align: center;
}
#table-container{
    margin-left: auto;
    margin-right: auto;
    
}
.completed {
    width: 100%;
    padding: 25px;
    background-color: #90EE90;
    font-size: 20px;
    text-decoration: line-through;
    opacity: 0.8;
  }
  #table {
    background-color: #adbce6;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20;
    font-family:Arial, Helvetica, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
thead{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
#table th,
#table td {
    padding: 12px 15px;
}

tbody {
    border-bottom: 1px solid #dddddd;
}

tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#submit-btn{
  
    width: 90px;
    height:30px;
    border: none;
    outline: none;
    background: #04AA6D;
    color: #fff;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
#submit-btn:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 20px -5px  #3ead49;
}

.completed-btn{
  
    width: 90px;
    height:30px;
    border: none;
    outline: none;
    background: #04AA6D;
    color: #fff;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.completed-btn:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 20px -5px  #3ead49;
}
.delete-btn{
  
  width: 66px;
  height:25px;
  border: none;
  outline: none;
  background: red;
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.delete-btn:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 20px -5px  red;
}
.input-fields{
    border: 2px solid rgb(39, 90, 39);
    border-radius: 8px;
    width: 300px;
    height: 30px;
    text-align: center;
  }